html { 
    background: 
    /* linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
        ),  */
        url(../images/mm.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button {
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;
    background: #fffffff0;
}
header {
    font-size: 50px;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    margin: 20px auto;
    /* background: white;
    max-width:350px;
    border-radius: 5px;  */
}
.button {
    /* border: 1px solid red; */
    overflow: hidden;
    max-width: 1250px;
    margin: 0 auto;
}
.container {
    margin: 10px auto;
    padding: 0 20px;
}
.gif {
    float: left;
    /* border: 1px solid red; */
    margin: 15px;   
}
.text {
    float: left;
    /* border: 1px solid red;  */
}
.label {
    font-size: 15px;
    background: #fffffff0;
    padding: 8px 5px;
    max-width: 130px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
}

#add-character {
    font-size: 20px;
}
#animate {
    /* border: 1px solid red; */
    overflow: hidden; 
    background: #fffffff0;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
    max-width: 1250px;
    margin: 40px auto;
}

#character-button {
    float: left;
    width: 75%;
    margin: 0 auto;
    padding: 0;
}
#character-form {
    float: right;
    width: 25%;
    padding: 0;
    margin: 0;
}
#character-input{
    margin-top: 15px;
    margin-bottom: 10px;
    max-width: 300px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
} 

@media screen and (max-width: 980px){
    .button{
        /* border: 1px solid red; */
    }
}
@media screen and (max-width: 768px){
   
}
@media screen and (max-width: 640px){
}